/* CSS Document */

/* MAIN */
.main_con {
  background: #fff;
  border-radius: 75px 75px 0 0;
  margin-top: -70px;
  padding: 60px 0;
}

.main_con .main_menu {
  width: 100%;
}
.main_menu .icon_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 20px;
  height: 525px;
}
.main_menu .ic_menu {
  text-align: center;
  margin: 0 15px;
}
.main_menu .ic_menu:nth-child(-n + 3) {
  margin-bottom: 60px;
}
.main_menu .ic_menu:nth-child(n + 4):nth-child(-n + 6) {
  margin-bottom: 30px;
}
.main_menu .ic_menu div {
  position: relative;
  height: 170px;
}
.main_menu .ic_menu div img {
  background: #fff;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 20%);
  border-radius: 25px;
  padding: 35px;
}
.main_menu .ic_menu p {
  font-size: 1.75rem;
  font-weight: 500;
  color: #000;
  padding-top: 20px;
  line-height: 1;
  letter-spacing: -0.15rem;
}

.main_menu .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  opacity: 0.15;
}
.main_menu
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet,
.main_menu
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 8px;
}
.main_menu .swiper-pagination-bullet-active {
  opacity: 1;
  background: #0072ff;
}

.main_con .notice {
  width: 100%;
  padding-top: 40px;
}
.notice .notice_slide {
  margin: 30px 40px 0;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 20%);
  border-radius: 35px;
}
.notice_slide .swiper {
  width: 100%;
  height: 100%;
  border-radius: 35px;
}
.notice_slide .swiper-slide {
  width: 100% !important;
  background: #fff;
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.notice_slide .swiper-slide .slide_con {
  padding: 40px 40px 75px;
  box-sizing: border-box;
}
.notice_slide .slide_con .tit {
  font-size: 2.125rem;
  font-weight: 600;
  color: #000;
  padding-bottom: 20px;
  letter-spacing: -0.1rem;
}
.notice_slide .slide_con .tit .badge {
  display: inline-block;
  background: #0a6fe4;
  border-radius: 10px;
  color: #fff;
  margin-right: 20px;
  font-size: 1.438rem;
  font-weight: 600;
  padding: 12px 20px;
  letter-spacing: -0.1rem;
}
.notice_slide .slide_con .txt {
  font-size: 1.75rem;
  font-weight: 100;
  color: #000;
  padding-bottom: 20px;
  line-height: 1.375;
  letter-spacing: -0.1rem;
}
.notice_slide .slide_con .date {
  font-size: 1.438rem;
  font-weight: 100;
  color: #808080;
  letter-spacing: -0.1rem;
}
.notice_slide .swiper-pagination-bullet {
  background: url(/images/slide_off.png) no-repeat center;
  opacity: 1;
  width: 14px;
  height: 14px;
}
.notice_slide .swiper-pagination-bullet-active {
  background: url(/images/slide_on.png) no-repeat center;
}
.notice_slide
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet,
.notice_slide
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 8px;
}
